<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config  
-->
<configuration>
  <!-- This section includes the settings required for porper working of Exception Management Block.  -->
  <configSections>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler"/>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true"/>
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true"/>
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true"/>
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true"/>
    </sectionGroup>
  </configSections>
  <!-- Default publisher explicitly enabled-->
  <exceptionManagement mode="on">
    <publisher assembly="App_Code" type="General.ExceptionXMLPublisher" include="+Microsoft.ApplicationBlocks.ExceptionManagement.BaseApplicationException, Microsoft.ApplicationBlocks.ExceptionManagement" exceptionFormat="xml" fileName="D:\serverProjects\InstaDeal\Exceptions\Instadeal.xml"/>
  </exceptionManagement>
  <!-- End of Exception Management Block settings. -->
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source = SUVARNA\SQLSERVER2019;Initial Catalog=eInstadeal_Sunrise;User ID=sa; password=genesis; Connect Timeout=200" providerName="System.Data.SqlClient"/>
    <add name="InstadealConnectionString" connectionString="Data Source=SUVARNA\SQLSERVER2019;Initial Catalog=eInstadeal_Sunrise;Persist Security Info=True;User ID=sa; password=genesis;  min pool size=10 ; max pool size=30 ; MultipleActiveResultSets=True;Packet Size=4096; Connect Timeout=1000; Application Name=&quot;Microsoft SQL server Management Studio&quot;" providerName="System.Data.SqlClient"/>
    <add name="InstadealConnectionStringRet" connectionString="Data Source=SUVARNA\SQLSERVER2019;Initial Catalog=eInstadeal_Sunrise;Persist Security Info=True;User ID=sa; password=genesis;  min pool size=10 ; max pool size=30 ; MultipleActiveResultSets=True;Packet Size=4096; Connect Timeout=1000; Application Name=&quot;Microsoft SQL server Management Studio&quot;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.0" />
      </system.Web>
  -->
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB" fileEncoding="utf-8"/>
    <!-- 
     <pages theme="BlueMoon" />
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <!--<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
    </httpHandlers>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="DocumentFormat.OpenXml, Version=2.5.5631.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CRVsPackageLib, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="DocumentFormat.OpenXml, Version=2.0.5022.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <codeSubDirectories>
        <add directoryName="Classes"/>
        <add directoryName="CSCode"/>
      </codeSubDirectories>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
    </compilation>
    <pages validateRequest="false" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="Microsoft.Web.UI" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
        <add namespace="Microsoft.Web.UI.Controls" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
      </controls>
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <identity impersonate="true"/>
    <authentication mode="Windows"/>
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="80"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100000"/>
  </system.web>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="C:\eInstaLogs\eInsta.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="DateTime:%d%nThreadId:[%t]%nSeverity:%-2p%nMessage:%m%n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="errorPageUrl" value="ErrorPage.aspx"/>
      <add key="ImagePath" value="C:\Genesis_Projects\eInstadeal_Sunrise\FaxImages"/>
      <add key="OfferImagePath" value="C:\Genesis_Projects\eInstadeal_Sunrise\Images"/>
      <add key="offerPath" value="C:\Genesis_Projects\eInstadeal_Sunrise\Temp"/>
      <add key="MailImagePath" value="C:\Genesis_Projects\eInstadeal_Sunrise\Images\Mail.png"/>
      <add key="EmailtemplatePath" value="C:\Genesis_Projects\eInstadeal_Sunrise\Templates"/>
      <add key="FontFilePath_Cambria" value="C:\Genesis_Projects\eInstadeal_Sunrise\cambria\cambria.ttf"/>
      <add key="FontFilePath_Calibri" value="C:\Genesis_Projects\eInstadeal_Sunrise\cambria\calibri.ttf"/>
      <add key="FontFilePath_CalibriBold" value="C:\Genesis_Projects\eInstadeal_Sunrise\cambria\calibrib.ttf"/>
      <add key="FontFilePath_Cambria_Regular" value="C:\Genesis_Projects\eInstadeal_Sunrise\cambria\cambria.ttf"/>
      <add key="FaxFile" value="C:\Genesis_Projects\eInstadeal_Sunrise\FaxImages"/>
      <add key="EmailTo" value="suvarna.sreekant@genesissoftware.co.in"/>
      <add key="smtpServer" value="rfrefcmsg2"/>
      <add key="BASE_PATH" value="http://localhost:3123/ClientProfile/Forms"/>
      <add key="mailTo" value="suvarna.sreekant@genesissoftware.co.in"/>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
      <add key="ReportsPath" value="C:\Genesis_Projects\eInstadeal_Sunrise\Reports\"/>
      <add key="FontFilePath" value="C:\WINDOWS\Fonts"/>
      <add key="PrinterName" value="\\server\hp officejet 4200 series"/>
      <add key="DBServerName" value="SUVARNA\SQLSERVER2019"/>
      <add key="DatabaseName" value="eInstadeal_Sunrise"/>
      <add key="DBUserID" value="sa"/>
      <add key="cultureString" value="en-US"/>
      <add key="DBPassword" value="genesis"/>
      <add key="ErrorMail_trust" value=""/>
      <add key="Errormail_genesis" value=""/>
      <add key="DealDateDealSlip" value="11/10/2014"/>
      <add key="OfferUser" value=""/>
      <add key="StampDutyDate" value="01/07/2020"/>
      <add key="StampDutyDateCR" value="2020-07-01"/>
      <add key="TextFilePath" value="C:\Genesis_Projects\eInstadeal_Sunrise\"/>
      <add key="connectionString" value="Data Source =SUVARNA\SQLSERVER2019;Initial Catalog =eInstadeal_Sunrise;User ID = sa;password=genesis;"/>
      <add key="CRMPath" value="C:\Genesis_Projects\eInstadeal_Sunrise\FileUploads\"/>
      <add key="mailFromChecker" value="mehul.patel@genesissoftware.co.in"/>
      <add key="mailToChecker" value="mehul.patel@genesissoftware.co.in"/>
      <add key="mailCCChecker" value="mehul.patel@genesissoftware.co.in"/>
      <add key="mailBCCChecker" value="mehul.patel@genesissoftware.co.in"/>
      <add key="mailSubjectChecker" value="TEST Mail"/>
    </appSettings>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <!--<system.net>
    <mailSettings>
      <smtp from="abc@xyz.com" deliveryMethod="network">
        <network host="smtp.gmail.com" port="587" userName="abc@xyz.com" password="abc@123"/>
      </smtp>
    </mailSettings>
  </system.net>-->
  <system.net>
    <mailSettings>
      <smtp from="genesis@trustgroup.in" deliveryMethod="Network">
        <network host="smtp.office365.com" port="587" userName="genesis@trustgroup.in" password="TrustG@2070"/>
      </smtp>
    </mailSettings>
    <defaultProxy enabled="true"/>
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="/crystalreportviewers13"/>
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
  <runtime>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0"/>
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
         to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
     -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true"/>
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
            <add endpoint="https://www.google.com/accounts/o8/ud" />
          </trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
               with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty"/>
        </behaviors>
      </relyingParty>
    </openid>
  </dotNetOpenAuth>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
         which is necessary for OpenID urls with unicode characters in the domain/host name.
         It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All"/>
    <iriParsing enabled="true"/>
  </uri>
</configuration>